.event .metadata > * {
  
  &::after {
    content: ' / ';
  }
  &:nth-last-child(2)::after,
  &:nth-last-child(1)::after {
    content: '';
  }
}

#event_months {
  ol {
    height: 0;
    overflow: hidden;
    &.current,
    &:hover {
      height: auto;
    }
  }
  li:hover ol {
    height: auto;
  }
  a.current {
    font-weight: bold;
  }
}

// standalone event pages

.event > h1 {
    text-align: center;
    font-size: 16pt;
    font-weight: 600;
    color: #FF9900;
    margin-top: 1.6rem;
    margin-bottom: 3.5rem;
}

.event > h2 {
    display: block;
    text-align: center;
    font-size: 16pt;
    font-weight: 500;
    color: #CAA182;
    @media (min-width: 1024px) {
        width: 28rem;
    }
}

.standalone #rsvp {
    display: block;
    width: 90%;
    @media (min-width: 1024px) {
        width: 20rem;
    }
    border-bottom-style: none;
    text-align: center;
    font-size: 16pt;
    font-weight: 700;
    color: #FF9900;
    margin: 4.4rem auto;
    padding: 2rem 1rem;
    background-color: rgba(255, 153, 0, 0.2);
    border-radius: 60px;
}

.event > img {
    --tw-shadow: 0 16px 80px -5px rgb(241, 210, 175), 0 0px 10px -10px rgb(249, 167, 35);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 32px;
    margin-bottom: 1.6rem;
    @media (min-width: 1024px) {
        border-radius: 48px;
        width: 36%;
    }
    width: 90%;
}

.btc-orange {
    color: #FF9900;
}
