@import "indigo";
@import url('https://rsms.me/inter/inter-ui.css');

// layout

body {
    @extend .sans, .f4, .grid12;
    margin: 0 32px;
    color: #000;
}

nav {
    grid-area: auto / 1 / auto / 3;
}

article {
    // default
    grid-area: auto / 4 / auto / 9;
    // links on body text
    a {
        @extend .bb1, .b-black;
        &.mono {
            border-bottom: 0;
        }
    }
    // post directories
    &.post-list {
        grid-area: auto / 4 / auto / 12;
    }
}

// components
    // ul reset
ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}
    // images
img {
    max-width: 100%;
}
    // flatten headers
h1, h2, h3, h4, h5 {
    @extend .f4, .fw-bold;
}
    // author and ship styling
span[rel=author] {
    font-weight: 600;
    margin-right: 5px;
}
address {
    display: inline;
    font-style: normal;
}

    // post lists
ul.posts {
    list-style-type: none;
}