// importing typography and parent styles
@import "grid";
@import "indigo";
@import url('https://rsms.me/inter/inter-ui.css');

@font-face {
    font-family: "Source Code Pro";
    src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-extralight.woff");
    font-weight: 200;
  }

  @font-face {
    font-family: "Source Code Pro";
    src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-light.woff");
    font-weight: 300;
  }

  @font-face {
    font-family: "Source Code Pro";
    src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-regular.woff");
    font-weight: 400;
  }

  @font-face {
    font-family: "Source Code Pro";
    src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-medium.woff");
    font-weight: 500;
  }

  @font-face {
    font-family: "Source Code Pro";
    src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-bold.woff");
    font-weight: 600;
  }

  @font-face {
    font-family: "Source Code Pro";
    src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-black.woff");
    font-weight: 700;
  }

// layout

body {
    font-family: "Inter", "Inter UI", -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    @extend .grid12, .mh4;
    font-size: 1rem;
    color: #000;
    // Something about the main page video is causing the page to overflow.
    max-width:100vw;
}

nav {
    font-size: 1rem;
    line-height: 1.33;
    // If you need to flush the nav to break
    // the body's margin, use this:
    &.full-left {
        margin-left: -32px;
        padding-left: 32px;
    }
    &.no-break {
        min-width: 232px;
    }
    &.home li:not(.mt4):not(.mt3) {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

// full-bleed backgrounds

.full-bleed {
    margin: 0 -32px 0 -32px;
    padding: 0 32px 0 32px;
}

.full-bleed-banner {
    margin: 0 -32px 0 -32px;
    padding: 0 -32px 0 -32px;
}

// full-bleed images
figure.full-bleed {
    margin: 0 -32px 0 -32px;
    padding: 0;
}

section.full-bleed.video-container {
    margin: 0 -32px 0 -32px;
    padding-top: 0;
}

figcaption.home {
    margin: 4rem auto 0 auto;
}

// margin: 0 auto util

.m0a {
    margin: 0 auto;
}

// obj-fit contain util

.obj-cover {
  object-fit: cover;
}

a {
    color: inherit;
    text-decoration: none;
}

b, strong {
  @extend .fw6;
}

article {
    // default
    // links on body text
    @extend .lh-copy;
    a {
        @extend .bb, .b--black;
        &.mono {
            border-bottom: 0;
        }
    }
    // post directories
    li {
        margin: 0rem 1rem 1rem 1rem;
    }
    // specific to homepage
    nav li {
        margin: 0;
    }
}

footer nav {
    // non-flattened pagination
    &.previous p:first-of-type:not([data-flat=true])::after {
        content: "-->";
        font-size: 1.25rem;
        position: absolute;
        right: -36px;
        top: 13px;
        font-family: "Inter UI", "Inter", sans-serif;
    }
    &.next p:first-of-type:not([data-flat=true])::before {
        content: "<--";
        font-size: 1.25rem;
        position: absolute;
        left: -36px;
        top: 13px;
        font-family: "Inter UI", "Inter", sans-serif;
    }
    // flattened pagination
    &.previous p:first-of-type::after {
        content: "->";
        font-size: 1rem;
        position: absolute;
        right: -36px;
        top: 0;
        font-family: "Inter UI", "Inter", sans-serif;
    }
    &.next p:first-of-type::before {
        content: "<-";
        font-size: 1rem;
        position: absolute;
        left: -36px;
        top: 0;
        font-family: "Inter UI", "Inter", sans-serif;
    }
}

// essay template

body.essay {
    h1 {
        max-width: 95vw;
    }
    &:not(.bg-white) {
        *:not(.search-overlay, nav span) {
            color: inherit;
        }
        p a {
            border-bottom: 1px solid;
        }
        nav span, nav a:not(.section) {
            color: rgba(175,175,175,0.4);
        }
        nav a.section {
            color: inherit;
        }
        // We want the search to not inherit the colors from custom styles
        // on essays. Thus, *very selective styles*.
        .search-overlay, #search-results ul.search-results__items li a,
                         #search-results ul.search-results__items li span {
            color: black;
        }
    }

    h2 {
      margin-top: 4rem;
    }

    blockquote {
        border-left: 1px solid black;
        padding-left: 2rem;
        font-style: italic;
        margin-bottom: 0;
    }

    img {
        display: block;
    }
}

div.footnote-definition {
  &[id="0"] {
    margin-top: 4rem;
    padding-top: 2rem;
    border-top: 1px solid black;
  }
  &:not([id="0"]) {
    margin: 1rem 0;
  }
  p {
    display: inline;
    font-size: smaller;
  }
}

// components
    // ul reset
ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

    // p reset
ul p {
    margin-block-start: 0;
    margin-block-end: 0;
}
    // figure reset
figure {
    margin: 0;
}
    // blockquote reset
blockquote {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-bottom: 2rem;
  cite {
    font-style: normal;
  }
}

    // images for posts
img {
    max-width: 100%;
}

    // flatten headers
h1, h2, h3, h4, h5 {
    margin-block-start: 0;
    margin-block-end: 0;
    @extend .fw6;
    font-size: 1rem;
    @extend .lh-title;
}

h3 {
    padding: 2rem 0 1rem 0;
}

h4 {
    padding: 1rem 0 0.5rem 0;
}

address {
    display: inline;
    font-style: normal;
}

    // post and nav lists
ul.posts, nav ul, nav li {
    list-style-type: none;
}

ul.posts li:not(:first-child) {
    margin:6rem 0 6rem 0;
}

ul.posts li:first-child {
    margin: 0 0 6rem 0;
}

ul.posts.update li:first-child {
  margin: 0 0 2rem 0;
}

ul.posts.update li:not(:first-child) {
  margin: 2rem 0;
}

nav ul.docs {
    line-height: 30px;
}

    // pagination
nav.previous, nav.next {
    max-width: 40% !important;
}

    // search button and overlay
#js-search-window-toggle {
    border: 0;
    font-family: "Inter", sans-serif;
    position: relative;
    // width: 80%;
    // min-width: 110px;
    text-align: left;
    background: transparent;
    span.search-slash {
      font-size: 0.75em;
      position: absolute;
      right: 0px;
      top: 6px;
      padding: 6px;
      border: 1px solid #b1b2b3;
      border-radius: 3px;
    }
}
.has-active-search-window {
    .search-overlay {
        display: block;
        margin: 0 -32px 0 -32px;
        padding: 0 32px 0 32px;
        height: 100vh;
    }
}

.b-transparent {
    background: rgba(0,0,0,0.4);
}

.pop-up {
    width: 100%;
    max-width: 600px;
    margin: (28rem / 4) auto;
    background: #fff;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"] {
 font-size: (4rem / 4);
 line-height: (6rem / 4);
 transition: all 0.1s linear;
 padding-right: 40px;
 position: relative;
 border-radius: 0 !important;
 &:focus {
     outline: 0;
     border: 0;
 }
}

.search-bar {
    background: #fff;
    font-size: (4rem / 4);
    transition: all 0.1s linear;
    padding: 12px 0 12px 0;
    position: relative;
    font-weight: normal;
    text-align: left;
    box-shadow: none !important;
    color: #B1B2B3;
    width: 100%;
    padding-left: 0rem;
  }

  .header__search-icon {
    transform: translateY(-1px) rotate(-45deg) scale(1.5);
    vertical-align: bottom;
  }

  .search-overlay {
    .search-bar {
      &__input {
        padding-left: 40px;
      }
    }
  }

  .search-results {
    max-height: 400px;
    ul {
        position: relative;
    }
    &__item a:hover {
      background: #F9F9F9;
      span {
          display: inline-block;
          &.arrow {
              display: inline;
              position: absolute;
              right: 20px;
          }
      }
    }
  }
  .glossary-results__item {
    &:hover {
        background-color: #F9F9F9;
      }
      h3 {
          padding: 0;
      }
  }

  #search-reset {
    cursor: pointer;
    font-family: "Inter UI", "Inter", sans-serif;
    user-select: none;
    transform: scale(1.5);
  }
    // tooltipping
.tippy-tooltip {
    border-radius: 0px;
}

.tippy-content {
    color: white;
}

    // code blocks
pre {
    margin: 0.5rem 0 0.5rem 0;
    padding: 1.25rem;
    overflow-x: scroll;
    @extend .bg-gray5;
}

code, .code, .mono {
    font-family: "Source Code Pro", monospace;
}

code {
    @extend .bg-gray5, .pa1;
    white-space: pre-wrap;
}

    // code in headers
h1 code, h2 code, h3 code, h4 code {
    @extend .red3;
    background-color: transparent;
    font-weight: 600;
}

    // tables
table {
    @extend .w-100;
    border-spacing: 0;
    table-layout: fixed;
}
th {
    @extend .fw6;
}
    // hoon school
iframe#apply {
    width: 100%;
}
    // indice pages
details.page-indiced li {
    list-style-type: none;
}

details {
    // overflow: scroll on the nav for these indices
    // cuts off the open chevron. thus:
    padding-left: 2px;
    & > summary {
        @extend .fw6, .gray2;
        cursor: default;
        list-style: none;
        display: inline-block;
        vertical-align: bottom;
        &:focus {
            outline: 0;
        }
        &::-webkit-details-marker {
            display: none;
        }
        &::before {
            content: "›";
            display: inline-block;
            vertical-align: baseline;
            margin-right: 0.5rem;
            @extend .gray1;
            font-family: "Inter UI", "Inter", sans-serif;
            font-weight: 400;
        }
    }
    &[open] > summary {
        @extend .fw6, .black;
    }
    &[open] > summary::before {
        content: "› ";
        display: inline-block;
        transform: rotate(90deg);
    }
}

body.docs article {
    h2 {
        margin: 2rem 0 1.5rem 0;
    }
    h2, h3 {
        font-feature-settings: 'liga' 0;
    }
    ul {
        @extend .mt3, .mb4;
    }
}

body.page-indiced {
    h2:not(:first-child) {
        margin: 2rem 0 1.5rem 0;
    }
    h3 {
        @extend .gray1;
    }
    h4 {
        @extend .gray0;
    }
    nav:not(.search-overlay) {
        max-height: 100%;
        overflow-y: scroll;
    }
    a.current {
        font-weight: 600;
    }
}

// doc-specific navigation

select {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    background: transparent;
    font-family: "Inter UI", "Inter", sans-serif;
}
nav.docs:not(.mobile) {
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    width: 25vw;
    max-width: 300px;
}
nav.docs details {
    summary {
    @extend .fw4, .black, .mt2;
    }
    & > summary::before {
        content: "› ";
        display: inline-block;
        transform: rotate(90deg);
        vertical-align: baseline;
        @extend .gray1, .fw6;
        font-family: "Inter UI", "Inter", sans-serif;
    }
    &[open] > summary {
        @extend .fw6;
    }
    &[open] > summary::before {
        content: "› ";
        display: inline-block;
        transform: rotate(-90deg);
    }
}

// are.na embeds

iframe.arena-iframe {
  border: 0;
  min-height: 34em;
  width: 100%;
}

// youtube

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    &.index {
      padding-bottom: 14.25rem;
    }
}

.video-container iframe,
.video-container object,
.video-container embed {
    border-width: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

    // horizontal rules
hr {
    border-top-width: 0;
    border-bottom-style: solid;
    margin: 2rem 0 2rem 0;
}

.vid-insert-wrap {
  position: relative;
  max-width: 100vw;
  height: 100vh;
}

.vid-insert {
  // Use .vid-insert-wrap to control height + width
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index:-99;
}

// Useful for hiding input inner shadows in Safari
.wk-appearance-none {
  -webkit-appearance: none;
}

// hide webkit scrollbars on windows, etc
nav::-webkit-scrollbar {
    display: none;
}


// custom anchor styling
a.zola-anchor {
    visibility: hidden;
    padding: 0 0.1rem;
    &:hover {
	background-color: black;
	color: white;
    }
    &:after {content: '¶'}
}

h1, h2, h3, h4, h5, h6 {
    &:hover > a.zola-anchor {
        visibility: visible;
        border-bottom-style: none;
    }
}


.community {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 48px;
}

.gray6 {
  color: #666666;
}

.bg-gray6 {
  background-color: #666666;
}

.bg-blue0-new {
  background-color: #f4faff;
}

.blue2-new {
  color: #219dff;
}

.blue3-new {
  color: #75c2ff;
}

.bg-blue3-new {
  background-color: #75c2ff;
}

.green2-new {
  color: #009F65;
}

.yellow2-new {
  color: #FFC700;
}

.bg-gray7 {
  background-color: #EFEEEC;
}

.gray8 {
  color: #bfbebd;
}