// importing typography and parent styles
@import "indigo";
@import url('https://rsms.me/inter/inter-ui.css');

@font-face {
    font-family: "Source Code Pro";
    src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-extralight.woff");
    font-weight: 200;
  }
  
  @font-face {
    font-family: "Source Code Pro";
    src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-light.woff");
    font-weight: 300;
  }
  
  @font-face {
    font-family: "Source Code Pro";
    src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-regular.woff");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Source Code Pro";
    src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-medium.woff");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "Source Code Pro";
    src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-bold.woff");
    font-weight: 600;
  }
  
  @font-face {
    font-family: "Source Code Pro";
    src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-black.woff");
    font-weight: 700;
  }

// layout

body {
    @extend .sans;
    &:not(.primer) {
        @extend .grid12;
        margin: 0 32px;
    }
    font-size: 1rem;
    color: #000;
}

nav {
    font-size: 1rem;
    line-height: 1.33;  
    // If you need to flush the nav to break
    // the body's margin, use this:
    &.full-left {
        margin-left: -32px;
        padding-left: 32px;
    }
    &.no-break {
        min-width: 168px;
    }
    &.home ul li {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

article {
    // default
    // links on body text
    a {
        @extend .bb1, .b-black;
        &.mono {
            border-bottom: 0;
        }
    }
    // post directories
    li {
        margin: 1rem;
    }
}

// essay template 

body.essay {
    h1 {
        @extend .fw-thin, .f1;
        text-transform: uppercase;
    }
    &:not(.bg-white) {
        * {
            color: inherit;
        }
        p a {
            border-bottom: 1px solid;
        }
        nav span, nav a:not(.section) {
            color: rgba(0,0,0,0.4);
        }
        nav a.section {
            color: inherit;
        }
    }
    img {
        display: block;
        margin: 0 auto;
    }
}

// updates template
body.updates {
    main {
    }
}

// components
    // ul reset
ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

    // images for posts
img {
    max-width: 100%;
}

    // flatten headers
h1, h2, h3, h4, h5 {
    @extend .fw-bold;
    font-size: 1rem;
}

    // author and ship styling
span[rel=author] {
    font-weight: 600;
    margin-right: 5px;
}

address {
    display: inline;
    font-style: normal;
}

    // post and nav lists
ul.posts, nav ul {
    list-style-type: none;
}

ul.posts li {
    margin: 2rem 0 2rem 0;
}

nav ul.docs {
    line-height: 30px;
}

    // search button and overlay
#js-search-window-toggle {
    position: relative;
    display: block;
    width: 80%;
    min-width: 110px;
    text-align: left;
    background: transparent;
    span#search-icon {
        display: inline-block;
        transform: rotate(-45deg);
    }
    span.search-slash {
        font-size: 0.75em;
        position: absolute;
        right: 0px;
        top: 6px;
        padding: 6px;
        border: 1px solid #b1b2b3;
        border-radius: 3px;
    }
}
.has-active-search-window {
    .search-overlay {
        display: block;
        margin-left: -32px;
        padding-left: 32px;
        height: 100vh;
    }
}

.b-transparent {
    background: rgba(0,0,0,0.4);
}

.pop-up {
    width: 100%;
    max-width: 600px;
    margin: (28rem / 4) auto;
    background: #fff;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"] {
 font-size: (4rem / 4);
 line-height: (6rem / 4);
 transition: all 0.1s linear;
 padding-right: 40px;
 position: relative;
 border-radius: 0 !important;
 &:focus {
     outline: 0;
     border: 0;
 }
}

.search-bar {
    background: #fff;
    font-size: (4rem / 4);
    transition: all 0.1s linear;
    padding: 12px 0 12px 0;
    position: relative;
    font-weight: normal;
    text-align: left;
    box-shadow: none !important;
    color: #B1B2B3;
    width: 100%;
    padding-left: 0rem;
  }

  .header__search-icon {
    transform: rotate(-45deg);
    vertical-align: bottom;
  }

  .search-overlay {
    .search-bar {
      &__input {
        padding-left: 40px;
      }
    }
  }
  
  .search-results {
    max-height: 400px;
    &__item a:hover {
      background: #F9F9F9;
      span {
        display:inline-block;
      }
    }
  }

  #search-reset {
    cursor: pointer;
    user-select: none;
  }
    // tooltipping
.tippy-tooltip {
    border-radius: 0px;
}

.tippy-content {
    color: white;
}

    // top alert on homepage
    .top-alert {
        margin: 0 -32px 1rem -32px;
        padding: 0.3rem 32px;
    }

    // code blocks
    pre, pre span {
        @extend .mono;
        background-color: #f9f9f9 !important;
        color: black !important;
    }
    // code in headers
    h1 code, h2 code, h3 code {
        @extend .red4;
        background-color: transparent;
        font-weight: 600;
    }