// The cascading isn't operating as expected using just indigo here. :(
@media all and (min-width: 1260px) {
    nav.previous, nav.next {
        width: auto !important;
        max-width: auto;
    }
    nav.previous {
        right: 16px !important;
    }
    nav.next {
        left: 16px !important;
    }
}

@media all and (min-width: 46.875rem) {
    h2#updates {
        margin-top: 9.3rem;
    }
}