@media all and (min-width: 1260px) {
    nav.previous, nav.next {
        width: auto !important;
        max-width: auto;
    }
    nav.previous {
        right: 16px !important;
    }
    nav.next {
        left: 16px !important;
    }
}

@media screen and (max-width: 46.874em) {
  .community {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(1fr);
  }
  footer.full-bleed {
    padding: 8rem 2rem;
  }
}

// custom L breakpoint classes
@media screen and (min-width: 46.875em) and (max-width: 60em) {
    .white-l {
        color: #fff;
    }
}

// custom XL breakpoint classes
@media screen and (min-width: 60em) {
    .white-xl {
        color: #fff;
    }
}