{% extends "base.html" %}
{% block title %} Media {% endblock title %}
{% block content %}
<!-- header -->
<nav class="mt4 full fourth-1-md fourth-1-lg">
  <a class="gray3" href="/">Urbit</a> 
  <span class="gray3"> / </span>
  <a href="/media">
    Media
  </a>
  {% include "partials/navigation-search.html" %}
</nav>
<!-- content -->
      <article class="mt4-l mt4-xl mb2 full c4-10-lg">
        <ul class="posts">
          {% set posts = get_section(path="media/_index.md") %}
          {% for page in posts.pages %}
          <li class="mb6">
            {% if page.extra.youtube %}
            <div class="video-container mb4">
                <iframe class="w-100" height=auto
                  src="https://www.youtube.com/embed/{{page.extra.youtube}}"
                  webkitallowfullscreen
                  mozallowfullscreen
                  allowfullscreen>
                </iframe>
              </div>
            {% endif %}

            {% if page.extra.soundcloud %}
                <iframe
                width="100%"
                height="300"
                scrolling="no"
                frameborder="no"
                allow="autoplay"
                src="{{page.extra.soundcloud}}">
              </iframe> 
            {% endif %}
            <h2 class="f4 fw4"><a class="bb-0" href="{{ page.permalink }}">{{ page.title }}</a></h2>
            <p class="mt0">{{ page.description }}</p>
            <span class="mono f5">{{ page.date | date(format="~%Y.%-m.%-d") }}</span>
            <span class="mono f5">
              {% if page.extra.ship %}<span class="mono f5 ml2">{{ page.extra.ship }}</span> {% endif %}
            </span>
          </li>
          {% endfor %}
        </ul>
      </article>
{% endblock content %}
