{% extends "base.html" %}
{% block title %} Posts {% endblock title %}
{% block content %}
<!-- header -->
<!-- content -->
<div>
  <div>
    <div>
      <nav>
        <ul>
          <li>
            <a href="/posts/">
              All
            </a>
          </li>
          {% for post in terms %}
            <li>
              <a href="{{ post.permalink }}">
                {{ post.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div>
      <article>
        <h1>Posts</h1>
        <ul>
          {% set posts = get_section(path="posts/_index.md") %}
          {% for page in posts.pages %}
            <li>
              <span>&#126;{{ page.date | date(format="%Y.%m.%d") }}</span>
              <span>
                {% if page.taxonomies.posts %}
                  {% for post in page.taxonomies.posts %}
                    <a href="{{ get_taxonomy_url(kind="posts", name=post) }}">
                      {{ post }}
                    </a>
                  {% endfor %}
                {% endif %}</span>
              <a href="{{ page.permalink }}"><h2>{{ page.title }}</h2></a>
              <p>{{ page.description }}</p>
            </li>
          {% endfor %}
        </ul>
      </article>
    </div>
  </div>
</div>
{% endblock content %}
