{% extends "base.html" %}
{% block title %} {{ term.name }} {% endblock title %}
{% block content %}
<!-- header -->
<!-- content -->
    <nav class="mt6">
        <a class="gray3" href="/">Urbit</a> 
        <span class="gray3"> / </span>
        <a href="/posts/{{term.name | lower}}">
          {{ term.name }}
        </a>
      </nav>
      <article class="mt6 mb6 post-list">
        <h1 class="fw-regular mt8 mb8">{{ term.name }}</h1>
        <ul class="posts">
          {% for page in term.pages %}
            <li class="mb6 mt6">
              <h2 class="mb1"><a class="bb0" href="{{ page.permalink }}">{{ page.title }}</a></h2>
              <p class="mb2 mt2">{{ page.description }}</p>
              <span class="mono f5">&#126;{{ page.date | date(format="~%Y.%-m.%-d") }}</span>
              <span class="mono f5">
                {% if page.taxonomies.posts %}
                  {% for post in page.taxonomies.posts %}
                    <a class="mono f5 ml2" href="{{ get_taxonomy_url(kind="posts", name=post | safe) }}">
                      {{ post | lower }}
                    </a>
                  {% endfor %}
                {% endif %}
                {% if page.extra.ship %}<span class="mono f5 ml2">{{ page.extra.ship }}</span> {% endif %}
              </span>
            </li>
          {% endfor %}
        </ul>
      </article>
{% endblock content %}
