{% extends "base.html" %}
{% block title %} {{ term.name }} {% endblock title %}
{% block content %}
<!-- header -->
<!-- content -->
<div>
      <nav>
        <ul>
          <li>
            <a href="{{ config.base_url }}/posts/">
              All
            </a>
          </li>
          <li class="list__item content-nav__item">
            <a href="{{ config.base_url }}/posts/essays/">
              Essays
            </a>
          </li>
          <li class="list__item content-nav__item">
            <a href="{{ config.base_url }}/posts/media/">
              Media
            </a>
          </li>
          <li class="list__item content-nav__item">
            <a href="{{ config.base_url }}/posts/updates/">
              Updates
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div>
      <article>
        <h1>{{ term.name }}</h1>
        <ul>
          {% for page in term.pages %}
            <li>
              <span>&#126;{{ page.date | date(format="%Y.%m.%d") }}</span>
              <span>
                {% if page.taxonomies.posts %}
                  {% for post in page.taxonomies.posts %}
                    <a href="{{ get_taxonomy_url(kind="posts", name=post | safe) }}">
                      {{ post }}
                    </a>
                  {% endfor %}
                {% endif %}
              </span>
              <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
              <p>{{ page.description }}</p>
            </li>
          {% endfor %}
        </ul>
      </article>
    </div>
  </div>
</div>
{% endblock content %}
