<footer class="full-bleed mt4 grid12 bg-gray7 full">
  <section class="full grid12 mb4">
    <h1 class="mb5 full half-1-lg half-1-md f3 gray6">A general-purpose, peer-to-peer, personal computing system.</h1>
    <nav class="c1-4-md c1-5-lg full mt5">
      <h3 class="mt0 mb3 pt0 pb0 gray8">Develop</h3>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="/docs">Documentation</a>
      </li>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="https://github.com/urbit/urbit">GitHub</a>
      </li>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="https://github.com/urbit/urbit/tree/master/pkg/npm/api">Airlock APIs</a>
      </li>
    </nav>
    <nav class="c5-9-lg c4-7-md full mt5">
      <h3 class="mt0 mb3 pt0 pb0 gray8">Contribute</h3>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="https://github.com/urbit/urbit/issues">Issue Tracker</a>
      </li>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="/bounties">Bug Bounties</a>
      </li>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="https://grants.urbit.org">Urbit Grants</a>
      </li>
    </nav>
    <nav class="c9-13-lg c8-12-md half1 mt5">
      <h3 class="mt0 mb3 pt0 pb0 gray8">Community</h3>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="https://groups.google.com/a/urbit.org/forum/#!forum/dev">Dev Mailing List</a>
      </li>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="https://discord.gg/Mae2bk7">Discord</a>
      </li>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="/community/governance">Governance</a>
      </li>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="/community/hoonschool">Hoon School</a>
      </li>
    </nav>
    <nav class="c1-4-md c1-5-lg full mt5">
      <h3 class="mt0 mb3 pt0 pb0 gray8">Use Urbit</h3>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="/install">Port Client</a>
      </li>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="/getting-started/cli">Urbit Binaries</a>
      </li>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="/getting-started/planet/#hosting-providers">Host-Providers</a>
      </li>
    </nav>
    <nav class="c5-9-lg c4-7-md full mt5">
      <h3 class="mt0 mb3 pt0 pb0 gray8">About</h3>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="/understanding-urbit">What's Urbit?</a>
      </li>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="/understanding-urbit/urbit-id">Urbit ID</a>
      </li>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="/understanding-urbit/urbit-os">Urbit OS</a>
      </li>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="/faq">FAQ</a>
      </li>
    </nav>
    <nav class="c9-13-lg c8-12-md full mt5">
      <h3 class="mt0 mb3 pt0 pb0 gray8">News</h3>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="/blog">Blog</a>
      </li>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="/events">Events</a>
      </li>
      <li class="mt2 f3">
        <a class="gray6 fw6" href="/meetups">Meetups</a>
      </li>
    </nav>
    <nav class="full mt5 flex flex-column flex-row-m flex-row-l flex-row-xl justify-between">
      <a class="gray6 f3 fw6" href="/privacy">Privacy Policy</a>
      <a class="gray6 f3 fw6" href="/terms-of-use">Terms of Service</a>
      <a class="gray6 f3 fw6" href="mailto:support@urbit.org">support@urbit.org</a>
    </nav>
  </section>
</footer>
