<footer class="full-bleed mt4 grid12 bg-black white full pb6">
  <section class="full grid12 mb4">
    <nav class="c1-4-md c3-5-lg half-1 mt5">
      <h3 class="mt0 mb3 pt0 pb0">Understanding Urbit</h3>
      <li class="mt2 f6"><a href="/understanding-urbit">Introduction</a></li>
      <li class="mt2 f6"><a href="/understanding-urbit/urbit-id">Urbit ID</a></li>
      <li class="mt2 f6"><a href="/understanding-urbit/technical-overview">Technical Overview</a></li>
      <li class="mt2 f6"><a href="/understanding-urbit/project-history">Project Status + History</a></li>
    </nav>

    <nav class="c4-7-md c5-7-lg half-2 mt5">
      <h3 class="mt0 mb3 pt0 pb0">Learn more</h3>
      <li class="mt2 f6"><a href="/blog">Blog</a></li>
      <li class="mt2 f6"><a href="/updates">Updates</a></li>
      <li class="mt2 f6"><a href="/media">Media</a></li>
      <li class="mt2 f6"><a href="/faq">FAQ</a></li>
    </nav>

    <nav class="c7-10-md c7-9-lg half-1 mt5">
      <h3 class="mt0 mb3 pt0 pb0">Using + Contributing</h3>
      <li class="mt2 f6"><a href="/using/install">Install + Setup</a></li>
      <li class="mt2 f6"><a href="/using/develop">Developer's Guide</a></li>
      <li class="mt2 f6"><a href="/using/operations">Operations Manual</a></li>
    </nav>
    <nav class="c10-13-md c9-11-lg half-2 mt5">
      <h3 class="mt0 mb3 pt0 pb0">Community</h3>
      <li class="mt2 f6"><a href="https://groups.google.com/a/urbit.org/forum/#!forum/dev">urbit-dev</a></li>
      <li class="mt2 f6"><a href="/community/hoonschool">Hoon School</a></li>
      <li class="mt2 f6"><a href="/community/meetups">Meetups</a></li>
      <li class="mt2 f6"><a href="/community/community-grants">Community Grants</a></li>
      <li class="mt2 f6"><a href="/community/governance">Governance</a></li>
    </nav>
  </section>
  <section class="full-bleed full grid12">
    <nav class="c1-4-md c3-5-lg half-1 mt4 mb5">
      <h3 class="mt0 mb3 pt0 pb0">Developers</h3>
      <li class="mt2 f6"><a href="/docs">Documentation</a></li>
      <li class="mt2 f6"><a href="https://grants.urbit.org">Developer Grants</a></li>
      <li class="mt2 f6"><a href="/bounties">Security Bounties</a></li>
    </nav>
    <nav class="c4-7-md c5-7-lg half-2 mt4 mb5">
      <h2 class="mb3 mt0">About Urbit.org</h2>
      <li class="mt2 f6"><a href="/terms-of-use">Terms of Use</a></li>
      <li class="mt2 f6"><a href="/privacy#scope">Privacy Policy</a></li>
    </nav>
    <nav class="c10-13-md c7-9-lg half-1 mt4 mb5">
      <h2 class="mb3">Need help?</h2>
      <li class="mt2 f6"><a href="mailto:support@urbit.org">support@urbit.org </a></li>
      <li class="mt2 f6"><a href="https://discord.gg/Mae2bk7">Discord</a></li>
      <li class="mt2 f6"><a href="https://github.com/urbit">Github</a></li>
    </nav>
  </section>
</footer>
