{% block content %}
<nav>
  <button id="js-search-window-toggle" type="button"  style="outline:none">
    <div ><span >⚲</span></div><span >Search</span>
  </button>
  <ul>
    {% block menu %}
      {% set index = get_section(path="docs/_index.md") %}
      {% for s in index.subsections %}
        {% set subsection = get_section(path=s) %}
        <li>
          <a href="{{ subsection.permalink }}">
            {{ subsection.title }}
          </a>
          {% if subsection.pages %}
          <!-- level 1 -->
          <ul>
            {% for page in subsection.pages %}
            <li>
              <a href="{{ page.permalink }}">
                {{ page.title }}
              </a>
            </li>
            {% endfor %}

            {% for y in subsection.subsections %}
            {% set subsubsection = get_section(path=y) %}
            <ul>
              <li>
                <a href="{{ subsubsection.permalink }}">
                  {{ subsubsection.title }}
                </a>
                <!-- level 2 -->
                {% if subsubsection.pages %}
                <ul>
                  {% for page in subsubsection.pages %}
                    <li>
                      <a href="{{ page.permalink }}">
                        {{ page.title }}
                      </a>
                    </li>
                  {% endfor %}

                  {% for x in subsubsection.subsections %}
                  {% set subsubsubsection = get_section(path=x) %}
                  <ul>
                    <li>
                      <a href="{{ subsubsubsection.permalink }}">
                        {{ subsubsubsection.title }}
                      </a>
                      {% if subsubsubsection.pages %}
                      <!-- level 3 -->
                      <ul>
                        {% for page in subsubsubsection.pages %}
                          <li>
                            <a href="{{ page.permalink }}">
                              {{ page.title }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </li>
                  </ul>
                  {% endfor %}

                </ul>
                {% endif %}
              </li>
            </ul>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endfor %}
    {% endblock menu %}
  </ul>
</nav>
{% endblock content %}
