{% block content %}
<header id="main-nav">
  <div>
  </div>
  <nav>
    <div>
      <div>
        <div>
          <div>
            <ul>
              {% for item in config.extra.urbit_menu %}
                <li>
                  <h2>
                    <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                      {{ item.name }}
                    </a>
                  </h2>
                </li>
              {% endfor %}
            </ul>
          </div>
          <section>
            <h4>Follow</h4>
            <ul>
              <li>
                <a href="#">twitter.com/urbit</a>
              </li>
              <li>
                <a href="#">github.com/urbit</a>
              </li>
            </ul>
          </section>
          <section>
            <h4>Contact</h4>
            <ul>
              <li>
                <a href="mailto:support@urbit.org">support@urbit.org</a>
              </li>
            </ul>
          </section>
          <section>
            <h4>Company</h4>
            <ul>
              {% for item in config.extra.urbit_footer %}
                <li>
                  <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                    {{ item.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </section>
        </div>
      </div>
    </div>
  </nav>
  </div>
</header>
{% endblock content %}
