{% block content %}
<header id="main-nav" class="header">
  <div class="wrapper">
    <div id="js-main-nav-toggle" class="header__nav-icon"></div>
  </div>
  <nav class="header__navigation">
    <div class="wrapper">
      <div class="container">
        <div class="nav-column">
          <ul class="list">
            {% for item in config.extra.urbit_menu %}
              <li class="list__item">
                <h2 class="mb6">
                  <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                    {{ item.name }}
                  </a>
                </h2>
              </li>
            {% endfor %}
          </ul>
          <section class="mt9 mb6">
            <h4 class="mb1">Follow</h4>
            <ul class="list">
              <li class="list__item">
                <a class="text-mono" href="#">twitter.com/urbit</a>
              </li>
              <li class="list__item">
                <a class="text-mono" href="#">github.com/urbit</a>
              </li>
            </ul>
          </section>
          <section class="mb6">
            <h4 class="mb1">Contact</h4>
            <a class="text-mono" href="mailto:support@urbit.org">support@urbit.org</a>
          </section>
          <section class="mb6">
            <h4 class="mb1">Company</h4>
            <ul class="list">
              {% for item in config.extra.urbit_footer %}
                <li class="list__item">
                  <a class="text-mono" href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                    {{ item.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </section>
        </div>
      </div>
    </div>
  </nav>
  </div>
</header>
{% endblock content %}
