{% set sectionTitle = "urbit.org" %}
{% if page %}
  {% if "docs" in page.components %}
    {% set sectionTitle = "Docs" %}
  {% endif %}
  {% if "updates" in page.components %}
    {% set sectionTitle = "Updates" %}
  {% endif %}
  {% if "blog" in page.components %}
    {% set sectionTitle = "Blog" %}
  {% endif %}
{% endif %}

{% if section %}
  {% if "docs" in section.components %}
    {% set sectionTitle = "Docs" %}
  {% endif %}
  {% if "updates" in section.components %}
    {% set sectionTitle = "Updates" %}
  {% endif %}
  {% if "blog" in section.components %}
    {% set sectionTitle = "Blog" %}
  {% endif %}
{% endif %}

<button id="js-search-window-toggle" class="pointer pa0 pt3 mb3 dn db-m db-l db-xl bw-0 relative" type="button"  style="outline:none">
  <span class="pv1 dib v-mid gray3">Search {{sectionTitle}}</span>
  <span class="ml1 pa1 dib v-mid ba br1 b--gray3 gray3 f7" id="keyhint">Ctrl + /</span>
</button>
