<!-- First nav is desktop-specific. Second nav is dropdown version for mobile. -->
{% block content %}
<nav class="bg-gray5 dn db-xl pt4 full-left no-break docs pr4">
    <a class="gray3" href="{{config.base_url}}">Urbit</a>
  <span class="gray3"> / </span>
  <a href="{{config.base_url}}/docs/">
  Documentation
  </a>
  <button id="js-search-window-toggle" class="mt2 mb4 dn db-m db-l db-xl" type="button"  style="outline:none">
    <span id="search-icon" class="f3 gray3">⚲</span><span class="ml3 gray2">Search</span>
  </button>
  <ul class="lh-copy">
  <li class="ml2 mt1"><a href="/using/install">Install -> </a></li>
  <li class="ml2 mt1"><a href="/using/operations/">Operations Manual -></a></li>
  <li class="ml2 mt1 mb4"><a href="/using/develop/">Developer's Guide -></a></li>
  {% block menu %}
    {% set index = get_section(path="docs/_index.md") %}
    {% for s in index.subsections %}
    {% set subsection = get_section(path=s) %}
    {% if subsection.extra.nav %}
      <li class="ml3 mt1"><a
        {% if current_url == subsection.permalink %}
          class="fw6"
        {% endif %}
        href="{{ subsection.permalink }}">
          {{ subsection.title }}
        </a></li>
    {% else %}
    <details {% if current_url is containing(subsection.path) %}
              open
             {% endif %}
     class="mt1">
      <summary>{{ subsection.title }}</summary>
      {% if subsection.pages %}
        {% for page in subsection.pages %}
        <li class="ml2 mt1">
          <a
          {% if current_url == page.permalink %}
            class="fw6"
          {% endif %}
          href="{{ page.permalink }}">
            {{ page.title }}
          </a>
        </li>
        {% endfor %}
        {% for y in subsection.subsections %}
        {% set subsubsection = get_section(path=y) %}
          <details {% if current_url is containing(subsubsection.path) %}
                    open
                   {% endif %}
           class="ml2 mt1">
            <summary>{{ subsubsection.title }}</summary>
            {% if subsubsection.pages %}
              {% for page in subsubsection.pages %}
              <li class="ml2 mt1">
                <a
                {% if current_url == page.permalink %}
                  class="fw6"
                {% endif %}
                href="{{ page.permalink }}">{{ page.title }}</a></li>
              {% endfor %}
              {% for x in subsubsection.subsections %}
                {% set subsubsubsection = get_section(path=x) %}
                <details {% if current_url is containing(subsubsubsection.path) %}
                         open
                         {% endif %}
                class="ml2 mt1">
                  <summary>{{ subsubsubsection.title }}</summary>
                  {% if subsubsubsection.pages %}
                    {% for page in subsubsubsection.pages %}
                    <li class="ml2 mt1">
                      <a
                      {% if current_url == page.permalink %}
                        class="fw6"
                      {% endif %}
                      href="{{ page.permalink }}">{{ page.title }}</a></li>
                    {% endfor %}
                  {% endif %}
                </details>
              {% endfor %}
            {% endif %}
          </details>
        {% endfor %}
      {% endif %}
    </details>
    {% endif %}
    {% endfor %}
  {% endblock menu %}
  </ul>
</nav>

<nav class="mobile dn-xl db pt4 no-break docs full">
    <a class="gray3" href="{{config.base_url}}">Urbit</a>
  <span class="gray3"> / </span>
  <a href="{{config.base_url}}/docs/">
  Documentation
  </a>
  <select class="db mt4 pa2 b--black ba br0 mw4 f6 fw5" id="docsSelect" style="text-indent: 0.725rem;">
    <option>Navigation ↓</option>
    <option> </option>
    <option value="https://urbit.org/using/install">Install</option>
    <option value="https://urbit.org/using/operations/">Operations Manual</option>
    <option value="https://urbit.org/using/develop">Developer's Guide</option>
    {% set index = get_section(path="docs/_index.md") %}
    {% for s in index.subsections %}
    {% set subsection = get_section(path=s) %}
    {% if subsection.extra.nav %}
    <option value="{{ subsection.permalink }}">{{ subsection.title }}</option>
    {% else %}
    <option> </option>
    <option>{{ subsection.title }}</option>
    <option>---</option>
    {% if subsection.pages %}
      {% for page in subsection.pages %}
      <option value="{{ page.permalink }}">{{ page.title }}</option>
      {% endfor %}
      {% for y in subsection.subsections %}
      {% set subsubsection = get_section(path=y) %}
      <option> </option>
      <option>{{ subsubsection.title }}</option>
      <option>---</option>
        {% if subsubsection.pages %}
          {% for page in subsubsection.pages %}
          <option value="{{ page.permalink }}">{{ page.title }}</option>
          {% endfor %}
      {% for x in subsubsection.subsections %}
      {% set subsubsubsection = get_section(path=x) %}
      <option> </option>
      <option>{{ subsubsubsection.title }}</option>
      <option>---</option>
        {% if subsubsubsection.pages %}
          {% for page in subsubsubsection.pages %}
          <option value="{{ page.permalink }}">{{ page.title }}</option>
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endif %}
    {% endfor %}
  </select>
  <button id="js-search-window-toggle" class="mt4 mb4 dn db-m db-l db-xl" type="button"  style="outline:none">
    <span id="search-icon" class="f3 gray3">⚲</span><span class="ml3 gray2">Search</span>
  </button>
</nav>
{% endblock content %}
