<footer class="relative">{% if page.earlier %}
        <a class="bb0" href="{{page.earlier.permalink}}">
          <nav class="previous mv6 absolute right7 f4 t-right">
            <p class="mb0 f5">Previous Post:</p>
            <p class="fw-bold f5 f4-ns mb0 mt0">{{page.earlier.title}}</p>
            <time class="mono block f5">{{page.earlier.date | date(format="~%Y.%-m.%-d") }}</time>
          </nav>
        </a>
          {% endif %}

          {% if page.later %}
          <a class="bb0" href="{{page.later.permalink}}">
          <nav class="next mv6 absolute left4-ns left6 f4">
            <p class="mb0 f5">Next Post:</p>
            <p class="fw-bold f5 f4-ns mb0 mt0">{{page.later.title}}</p>
            <time class="mono block f5">{{page.later.date | date(format="~%Y.%-m.%-d") }}</time>
          </nav>
        </a>
          {% endif %}
        </footer>