{% macro pagination(page, type="Post") %}
  <footer class="relative measure-wide">{% if page.earlier %}
    <a class="bb-0" href="{{page.earlier.permalink}}">
      <nav class="previous absolute right-1 t-right">
        {% if page.extra.hide_previous_title %} {% else %}<p class="mb0 f5">Previous {{ type }}:</p>{% endif %}
        <p {% if page.extra.flatten_pagination %}
            data-flat="true"
            class="mt5 relative mb5
            {% else %}
            class="mt0 mb0 fw6 f5
            {% endif %}
            ">{{page.earlier.title}}</p>
        <time class="gray2 mono db f5 mb4">{{page.earlier.date | date(format="~%Y.%-m.%-d") }}</time>
      </nav>
    </a>

    {% elif page.heavier and not page.extra.hidenext %}

    <a class="bb-0" href="{{page.heavier.permalink}}">
      <nav class="previous absolute right-1 t-right">
        {% if page.extra.hide_next_title %} {% else %}<p class="mb0 f5">Next {{ type }}:</p>{% endif %}
        <p {% if page.extra.flatten_pagination %}
        data-flat="true"
        class="mt5 relative mb5
        {% else %}
        class="mt0 mb0 fw6 f5
        {% endif %}
        ">{{page.heavier.title}}</p>
      </nav>
    </a>
    {% endif %}

    {% if page.relative_path == "understanding-urbit/urbit-os.md" %}
    <a class="bb-0" href="/understanding-urbit/">
        <nav class="next absolute left-1 t-left">
          <p {% if page.extra.flatten_pagination %}
              data-flat="true"
              class="mt5 relative mb5
              {% else %}
              class="mt0 mb0 fw6 f5
              {% endif %}
              ">Introduction</p>
        </nav>
      </a>
    {% elif page.later %}

    <a class="bb-0" href="{{page.later.permalink}}">
      <nav class="next absolute left-1">
        {% if page.extra.hide_next_title %} {% else %}<p class="mb0 f5">Next {{ type }}:</p>{% endif %}
        <p {% if page.extra.flatten_pagination %}
            data-flat="true"
            class="mt5 relative mb5
            {% else %}
            class="mt0 mb0 fw6 f5
            {% endif %}
            ">{{page.later.title}}</p>
        <time class="gray2 mono db f5 mb4">{{page.later.date | date(format="~%Y.%-m.%-d") }}</time>
      </nav>
    </a>


    {% elif page.lighter and not page.extra.hideprevious %}

    <a class="bb-0" href="{{page.lighter.permalink}}">
      <nav class="next absolute left-1">
        {% if page.extra.hide_previous_title %} {% else %}<p class="mb0 f5">Previous {{ type }}:</p>{% endif %}
        <p {% if page.extra.flatten_pagination %}
            data-flat="true"
            class="mt5 relative mb5
            {% else %}
            class="mt0 mb0 fw6 f5
            {% endif %}
            ">{{page.lighter.title}}</p>
      </nav>
    </a>
    {% endif %}

  </footer>
{% endmacro pagination %}