{% block content %}
<div id="search-overlay" class="search-overlay">
  <div class="wrapper">
    <div id="search-window" class="pop-up">
      <div class="search-bar">
        <input id="search" autocomplete="off" type="search" class="search-bar__input" placeholder="Go to...">
      </div>
      <div class="search-results">
        <div class="search-results__header ml6 mv2 gray30 fs3"></div>
        <ul class="list search-results__items"></ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
