{% block content %}
<nav id="search-overlay" class="search-overlay fix col full b-transparent z10 none top0">
  <div class="wrapper">
    <div id="search-window" class="pop-up">
      <div class="search-bar p0 b0 z1 inline align-center col">
        <span class="header__search-icon ml3 abs z1 fs6 gray50">⚲</span>
        <form id="search-form" class="col"><input id="search" autocomplete="off" type="search" class="search-bar__input b0" placeholder="Go to..."></form>
        <a id="search-reset" class="f6 pr3 gray5 no-underline pointer:hover">&#57503;</a>
      </div>
      <div id="search-results" class="search-results bt1 b-gray4 col">
        <div class="search-results__header ml5 mv2 gray6 f5"></div>
        <ul class="list search-results__items"></ul>
      </div>
    </div>
  </div>
</nav>
{% endblock content %}
