{% block content %}
<div class="search-overlay">
  <div class="wrapper">
    <div class="pop-up">
      <div class="search-bar">
        <label for="search-bar__input">
          <p class="mb0">Search</p>
        </label>
        <input id="search" type="search" class="search-bar__input">
      </div>
      <div class="search-results">
        <div class="search-results__header"></div>
        <ul class="search-results__items"></ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
