@import "@urbit/fdn-design-system/styles/globals";
@import "@urbit/fdn-design-system/styles/fonts";
@import "@urbit/fdn-design-system/styles/markdown";
@import "@urbit/fdn-design-system/styles/prism";

.grn {
  --black: #141A14;
  --white: #F9FFF9;
  --gray: #5A735A;
  --tint: #383C38;
  --lite: #F5FFF5;
  --brite: #AAE68C;
}

.grn-light {
  --black: #EBFFEB;
  --white: #141A14;
  --gray: #8EC075;
  --tint: #D6DFD6;
  --lite: #383C38;
  --brite: #546A54;
}

:root {
  @apply grn-light prism-light;
}

@media (prefers-color-scheme: dark) {
  :root {
    @apply grn prism-dark;
  }
}

:root[theme='light'] {
  @apply grn-light prism-light;
}

:root[theme='dark'] {
  @apply grn prism-dark;
}

*:not(.markdown) p a:not(.btn) {
  @apply underline;
}

a {
  @apply decoration-1 underline-offset-4;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  @apply scroll-mt-16 md:scroll-mt-20;
}

.sidebar {
  @apply w-full md:w-44 lg:w-48 xl:w-52;
  @screen md {
    height: calc(100vh - 4rem);
  }
}
