@import "@urbit/fdn-design-system/styles/globals";
@import "@urbit/fdn-design-system/styles/fonts";
@import "@urbit/fdn-design-system/styles/markdown";
@import "@urbit/fdn-design-system/styles/prism";
@import "./docsearch-variable";
@import "./docsearch-button";
@import "./docsearch-modal";

.blk {
  --black: #14140F;
  --white: #F8F8F8;
  --gray: #F8F8F8;
  --tint: #F8F8F8;
  --lite: #5A5A55;
  --brite: #14140F;

  --surface: #14140F;
  --primary: #F8FAF8;
  --secondary: #C8C8C8;
  --tertiary: #5A5A55;

  --container: #F8FAF8;
  --container-variant: #C8C8C8;
  --on-container: #14140F;
  --inverse-on-container: #F8FAF8;
  --on-container-variant: #5A5A55;
}

.wit {
  --black: #F8FAF8;
  --white: #14140F;
  --gray: #14140F;
  --tint: #14140F;
  --lite: #C8C8C8;
  --brite: #F8FAF8;

  --surface: #F8FAF8;
  --primary: #14140F;
  --secondary: #5A5A55;
  --tertiary: #C8C8C8;

  --container: #FFFFFF;
  --container-variant: #C8C8C8;
  --on-container: #14140F;
  --inverse-on-container: #FFFFFF;
  --on-container-variant: #5A5A55;
}

/* ustj intranav color scheme  */
.ylw {
  --gray: #141A14;
  --brite: #FFF450;
}

/* network explorer intranav color scheme  */
.gry {
  --gray: #141A14;
  --brite: #C8C8C8
}

:root {
  @apply blk prism-dark;
}

:root[theme='light'] {
  @apply wit prism-light;
}

.markdown {
  @apply mos;
}

:root[theme='light'] .markdown {
  @apply mos-light;
}

:root:not([theme]) .img-dark {
  @apply block;
}
:root:not([theme]) .img-light {
  @apply hidden;
}

:root[theme='light'] .img-dark {
  @apply hidden;
}
:root[theme='light'] .img-light {
  @apply block;
}

*:not(.markdown) p a:not(.btn) {
  @apply underline;
}

a {
  @apply decoration-1 underline-offset-4;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  @apply scroll-mt-16 md:scroll-mt-20;
}

.markdown hr {
  @apply !border-primary;
}

.sidebar {
  @apply w-full md:w-48 xl:w-52;
  @screen md {
    height: calc(100vh - 4rem);
  }
}
