@tailwind base;
@tailwind components;
@tailwind utilities;

/* Urbit Sans */
@font-face {
  font-family: "Urbit Sans";
  src: url("/fonts/UrbitSansVFWeb-Regular.woff2") format("woff2");
  /* src: url("https://media.urbit.org/fonts/UrbitSans/UrbitSansVFWeb-Regular.woff2")
       format("woff2"); */
  font-weight: 100 700;
  font-style: normal;
}

/* Urbit Serif Italic */
/* @font-face {
  font-family: "Urbit Serif Italic";
  src: url("https://media.urbit.org/fonts/UrbitSerifItalic/UrbitSerifItalic-UltraThin.otf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Urbit Serif Italic";
  src: url("https://media.urbit.org/fonts/UrbitSerifItalic/UrbitSerifItalic-Thin.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Urbit Serif Italic";
  src: url("https://media.urbit.org/fonts/UrbitSerifItalic/UrbitSerifItalic-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Urbit Serif Italic";
  src: url("https://media.urbit.org/fonts/UrbitSerifItalic/UrbitSerifItalic-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Urbit Serif Italic";
  src: url("https://media.urbit.org/fonts/UrbitSerifItalic/UrbitSerifItalic-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Urbit Serif Italic";
  src: url("https://media.urbit.org/fonts/UrbitSerifItalic/UrbitSerifItalic-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Urbit Serif Italic";
  src: url("https://media.urbit.org/fonts/UrbitSerifItalic/UrbitSerifItalic-Bold.otf");
  font-weight: bold;
  font-style: normal;
} */

:root {
  /* colors */
  --foreground: #f5f5f5;
  --background: #14140f;

  --header-height: 78px;
  --footer-height: 170px;
  /* container */
  --site-max-width: 1900px;
  --gutter-size: 20px;

  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-springy: cubic-bezier(0.8, 1.77, 0.49, 0.74);
  --ease-springy-alt: cubic-bezier(0.8, 1.3, 0.49, 0.74);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #14140f;
    --foreground: #f5f5f5;
  }
} */

html,
body {
  font-family: "Urbit Sans";
  /* scrollbar-gutter: stable; */
  @apply md:text-[16px] text-[14px] overflow-y-auto overflow-x-hidden
  md:[--gutter-size:2rem];
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
  @apply text-[20px] leading-120 tracking-[.01em] dark:bg-[var(--foreground)] dark:text-[var(--background)];
}
.template_get-on-the-network .overview-section {
  @apply mb-[8.125rem]
}
@layer components {
  .container {
    @apply max-w-[--site-max-width] 
    /* max-w-[100%] */
    mx-auto
    px-5
    md:px-8;
  }
}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
  
  
  /* .overview-page { */
    .overview-section {
      @apply grid md:grid-cols-6 gap-4 mb-[6rem] md:mb-[7rem];
    }
   
    .overview-section:last-of-type {
      @apply mb-0;
    }
    .overview-section-title {
      @apply col-span-1 md:text-xlarge md:text-large font-[600] md:mb-0 mb-8;
    }
    .overview-section-body {
      @apply col-span-4 text-xlarge leading-120;
    }
    .overview-section-body p:last-of-type {
      @apply !mb-0 !pb-0;
    }
    .overview-section-body > .img-container {
      @apply rounded-[.5rem] overflow-hidden my-8 max-w-max w-full;
    }
    .overview-section-body > .img-container > img {
      @apply w-full;
    }
    .overview-section-body > a {
      @apply underline decoration-[.01em] underline-offset-[.1em];
    }
    .overview-section-body > .next-button {
      @apply no-underline;
    }
  /* } */
  .button {
    @apply my-[2.5rem] md:hover:bg-gray-87 text-xlarge font-[600] bg-white text-black rounded-[5px] leading-[1cap] p-[.5rem]
    dark:bg-black dark:text-white;
  }
  .action-button {
    @apply bg-gray-87 w-max text-black font-[600] px-[.375rem] py-2 leading-[1cap] rounded-lg;
  }
  .nav-button-selected {
    @apply text-white;
  }
  .dark .nav-button-selected {
    @apply text-black;
  }
  .apply-button {
    @apply bg-background text-foreground leading-[1cap] text-xlarge font-[600] rounded-[5px] px-[.5rem] py-[.2rem]
     hover:bg-gray-5a md:hover:text-foreground;
  }
  .next-button {
    @apply hover:bg-white md:hover:text-black my-[2.5rem] leading-[1cap] text-xlarge font-[600] bg-gray-87 text-black rounded-[5px] px-[.5rem] py-[.3rem];
  }
  a,
  .link {
    @apply md:hover:text-white md:dark:hover:text-gray-87;
  }
  article {
    @apply text-xlarge leading-120;
    h1 {
      @apply text-[3.75rem] font-[400] mb-8 md:mb-16 lg:mb-20 leading-[100%] my-[2.5rem];
    }
    h1[level="2"] {
      @apply text-xlarge font-[700] mb-[2.6rem];
    }
    h1[level="3"] {
      @apply text-large font-[700] mb-[1.6rem];
    }

    blockquote {
      @apply p-2 pl-4 italic my-4 border-s-4 border-black;
    }
    p {
      @apply mb-6;
    }
    a {
      @apply underline decoration-[.01em] underline-offset-[.1em] hover:text-gray-87;
      /* @apply no-underline text-gray-87; */
    }
    a.external:after {
      @apply content-['↗'];
    }
    ul {
      @apply relative;
    }
    ul li {
      @apply list-outside mb-1 list-none before:content-['—'] before:absolute before:left-[-1.2rem];
    }
    ul li ul {
      @apply relative ml-4;
    }
    ol {
      @apply relative mb-6;
    }
    ol li {
      @apply list-decimal list-inside mb-1;
    }
    code,
    pre {
      @apply text-xlarge dark:bg-[#d4d5d3] rounded-5px px-1 mb-8;
      font-family: "Urbit Sans";
      font-variation-settings: "xtab" 500;
    }
    pre {
      @apply p-4 tracking-[0.01em];
    }
  }
}
