{% extends "page.html" %}

{% block content %}

<!-- header -->
<!-- content -->
{%- set lowercasetitle = page.title | lower | split(pat=" ") | join(sep="") -%}
{% if section or lowercasetitle == page.components[0] %}
<nav class="mt4 pb4 fixed-xl full fourth-1-md fourth-1-lg page-indiced mb3 mb0-m mb0-l mb0-xl">
  <a class="gray3" href="/">Urbit</a>
  <span class="gray3"> / </span>
  <a href="/{{ page.components[0] }}">
    {{ page.title }}
  </a>

  {% include "partials/navigation-search.html" %}
</nav>
{% else %}
<nav class="mt4 fixed-xl full fourth-1-md fourth-1-lg page-indiced mb3 mb0-m mb0-l mb0-xl">
  <a class="gray3" href="/">Urbit</a>
  <span class="gray3"> / </span>
  <a href="/grants">Grants</a>

  {% include "partials/navigation-search.html" %}

</nav>

{% endif %}

<article class="mt4 mb4 c1-13 c4-12-lg measure-wide">
  {% if page.extra.hidetitle %} {% else %}<h1>{{ page.title }}</h1>{% endif %}

  {% if page.extra.image %}
    <img class="db mv2 obj-cover w-100 ba" src="{{ page.extra.image }}" />
  {% endif %}

  {% if page.extra.assignee %}
    <span class="db mb1">{{ page.extra.assignee }}</span>
  {% endif %}

  {% if page.extra.completed %}
    <span class="db mb1">Completed</span>
  {% else %}
    <span class="db mb1">WIP</span>
  {% endif %}

  {% if page.extra.reward %}
    <span class="db mb1">Reward: {{ page.extra.reward }} Stars</span>
  {% endif %}


  {% if page.date %}
    <time class="mono db mv1 gray2 f5">{{ page.date | date(format="~%Y.%-m.%-d") }}</time>
  {% endif %}

  <!-- body -->
  {{ page.content | safe }}
</article>

{% endblock content %}
