{% extends "base.html" %}
{% block title %} Understanding Urbit {% endblock title %}
{% block content %}
<!-- header -->
<nav class="mt4 full fourth-1-lg mb3 mb0-m mb0-l mb0-xl absolute-xl">
  <a class="gray3" href="/">Urbit</a>
  <span class="gray3"> / </span>
  <a href="/understanding-urbit/">
    Understanding Urbit
  </a>
</nav>
<!-- content -->
<h1 id="introduction" class="mb4 full mt4 c4-10-lg">Introduction</h1>
<section class="full-bleed full grid12">
  <p class="full c4-7-lg mt0 mb4 mb2-xl lh-copy">This is a drawing of an Urbit — <br> a new kind of computer.</p>
  <img  class="full c7-10-lg row-1 mt0 mb2 mb4-xl w-100" src="../assets/intro/intro-1.svg" alt="A drawing of an Urbit ship." />
</section>
<section class="full-bleed full grid12">
  <p class="full c4-7-lg mt0 mb4 mb2-xl lh-copy"> Your Urbit is a purpose built tool for your own social software, not MEGACORP social networking.
    On Urbit, you run (or build) your own software to connect and communicate with your friends and family.</p>
  <img class="full c7-10-lg row-1 mt0 mb2 mb4-xl w-100" src="../assets/intro/intro-2.svg" alt="An Urbit ship receiving data." />
</section>
<section class="full-bleed full grid12">
  <p class="full c4-7-lg mt0 mb4 mb2-xl lh-copy">Your Urbit is a permanent, private archive.
  Your Urbit can store all your data and digital assets safely, privately, forever.</p>
  <img class="full c7-10-lg row-1 mt0 mb2 mb4-xl w-100" src="../assets/intro/intro-3.svg" alt="An Urbit ship with its previous versions in a lifetime archive" />
</section>
<section class="full-bleed full grid12">
  <p class="full c4-7-lg mt0 mb4 mb2-xl lh-copy">You own your Urbit like you own Bitcoin.
  Each Urbit is a piece of a new network that’s owned and controlled by its users.</p>
  <img class="full c7-10-lg row-1 mt0 mb2 mb4-xl w-100" src="../assets/intro/intro-4.svg" alt="An Urbit ship communicating with other ships" />
</section>
  <p class="c1-10 c4-10-lg mv7 lh-copy">Nothing quite like this has ever been done before. There’s nothing else like it.</p>
  <section id="megacorp" class="full full-bleed grid12 bg-black">
    <img class="full c4-10-lg mt7" src="../assets/intro/intro-5.jpg"/>
    <p class="full c4-10-lg white lh-copy mt2 mt4-xl mb7">Today, technology controls us. Every MEGACORP has the same incentive: To keep us hooked on their platform.</p>
  </section>
  <section class="full full-bleed grid12 bg-yellow">
  <img class="full c4-10-lg mt7" src="../assets/intro/intro-6.jpg"/>
  <p class="full c4-10-lg lh-copy mt2 mt4-xl">We built Urbit so people can control their technology, shape their digital lives and freely build
        their digital communities.</p>
  <p class="full c4-10-lg lh-copy mt2">We want to replace the internet with a foundation for computing that we can all rely on far into the future.</p>
  <p class="full c4-10-lg lh-copy mt2 mb7">Urbit is a large, ambitious project. But at the core it’s durable, simple and yours.</p>
  </section>
  <footer class="relative mt4 c4-10-lg full">
      {% set posts = get_section(path="understanding-urbit/_index.md") %}
      {% for directorypage in posts.pages | slice (end=1) %}
  <a class="bb-0" href="{{directorypage.permalink}}">
    <nav class="previous mv5 absolute right-2 f4 t-right">
      <p class="mb0 f5">Next Post:</p>
      <p class="fw6 f5 f4-l f4-xl mb0 mt0">{{directorypage.title}}</p>
    </nav>
  </a>
      {% endfor %}
  </footer>
</article>
{% endblock content %}
