{% extends "base.html" %}
{% block title %} Essays {% endblock title %}
{% block content %}
<!-- header -->
<nav class="mt4 full fourth-1-md fourth-1-lg">
  <a class="gray3" href="/">Urbit</a> 
  <span class="gray3"> / </span>
  <a href="/essays">
    Essays
  </a>
  {% include "partials/navigation-search.html" %}
</nav>
<!-- content -->
      <article class="mt4-l mt4-xl mb2 full c4-12-lg">
        <ul class="posts">
          {% set posts = get_section(path="essays/_index.md") %}
          {% for page in posts.pages %}
          <li class="mb4">
            <h2 class="f4 fw4"><a class="bb-0" href="{{ page.permalink }}">{{ page.title }}</a></h2>
            <p class="mt0">{{ page.description }}</p>
            <time class="mono f5">{{ page.date | date(format="~%Y.%-m.%-d") }}</time>
            <span class="mono f5">
              {% if page.extra.ship %}<address class="mono f5 ml2">{{ page.extra.ship }}</address> {% endif %}
            </span>
          </li>
          {% endfor %}
        </ul>
      </article>
{% endblock content %}
