{% extends "base.html" %}
{% block title %} 
    {{ page.title }} 
{% endblock title %}

{% block description %} {{ page.description }} {% endblock description %}

{% block bodyclasses %}
    class="essay 
    {% if page.extra.classes %} 
        {{ page.extra.classes }}
        {% else %}
        bg-white
    {% endif %}"
{% endblock bodyclasses %}

{% block content %}
<!-- header -->
<!-- content -->
<nav class="mt4 full fourth-1-md fourth-1-lg">
  <a class="gray3" href="/">Urbit</a> 
  <span class="gray3"> / </span>
  <a class="section" href="/essays">
    Essays
  </a>

  {% include "partials/navigation-search.html" %}

</nav>
        <article class="mt4 mb4 full c4-10-lg">
          <h1 class="mb4">{{ page.title }}</h1>
          {% if page.extra.author %} 
          <span rel="author"> {{ page.extra.author }} </span> 
          {% if page.extra.ship %} 
            <address class="mono">{{ page.extra.ship }}</address>
          {% endif %}
          {% if page.date %}
            <time class="mono db mv1 gray2 f5">{{page.date | date(format="~%Y.%-m.%-d") }}</time>
          {% endif %}
        {% endif %}
          <!-- body -->
          {{ page.content | safe }}

          {% include "partials/pagination.html" %}
        </article>
{% endblock content %}
