{% extends "base.html" %}
{% block title %} 
  <meta name="og:title" content="{{ section.title }} - {{ config.title }}">
  <title>{{ section.title }} - {{ config.title }}</title>
{% endblock title %}
{% block description %} 
  <meta name="og:description" content="From the Urbit documentation.">
  <meta name="description" content="From the Urbit documentation.">
{% endblock description %}
{% block bodyclasses %} class="docs" {% endblock bodyclasses %}
{% block content %}
<!-- header -->
<!-- content -->
{% include "partials/navigation-docs.html" %}
<article class="mt4 mb6 full c4-12-lg">
  <!-- header -->
  <h1>{{ section.title }}</h1>
  <!-- body -->
    {{ section.content | safe }}
</article>
{% endblock content %}
