{% extends "base.html" %}

{% block content %}
<!-- header -->
{% include "partials/navigation-special.html" %}
<!-- content -->
<div class="main-wrapper">
  <div class="wrapper">
    <div class="container container--fixed container--overflowed content-nav-container">
      <nav class="content-nav"></nav>
      <div class="content-spacer"></div>
    </div>
    <div class="container ml8">
      <div class="content-nav-spacer"></div>
      <article class="article content">
        <!-- header -->
        <h1>{{ page.title }}</h1>
        <!-- body -->
        <div class="pb8">
          {{ page.content | safe }}
        </div>
        <h1>Apply</h1>
        <form action="" method="post" id="hoonschool-application" name="hoonschool-application" class="validate form form--big" target="_blank" novalidate>
          <div class="input-group">
            <div>
              <label class="form__label" for="first-name">First Name</label>
              <input class="required tlon-input mb4" type="text" name="first-name" id="hoonschool-application__first-name">
            </div>
            <div>
              <label class="form__label" for="last-name">Last Name</label>
              <input class="required tlon-input mb4" type="text" name="last-name" id="hoonschool-application__last-name">
            </div>
            <div>
              <label class="form__label" for="email">Email Address</label>
              <input class="required tlon-input mb4" type="email" name="email" id="hoonschool-application__email">
            </div>
            <div>
              <label class="form__label" for="ship">Ship name (leave blank if you don't have an Urbit ship)</label>
              <input class="tlon-input mb4" type="text" name="ship" id="hoonschool-application__ship">
            </div>
            <div>
              <label class="form__label" for="class">What class are you applying for?</label>
              <select class="tlon-input mb4" id="hoonschool-application__class" name="class" selected="101">
                <option value="101">Hoon 101</option>
                <option value="201">Hoon 201</option>
              </select>
            </div>
            <div>
              <label class="form__label" for="class">Tell us about your experience with programming languages:</label>
              <textarea class="tlon-input mb4" name="experience" id="hoonschool-application__experience"></textarea>
            </div>
            <button id="hoonschool-application__submit" class="btn bg-black white" type="submit" name="submit">
              <span class="text-500">Submit</span>
            </button>
          </div>
        </form>
      </article>
    </div>
  </div>
</div>
{% endblock content %}
