{% extends "base.html" %}
{% block title %} {{ section.title }} {% endblock title %}
{% block content %}
{% include "partials/top-alert.html" %}
<div>
  <div>
    <div>
      <h1>Urbit</h1>
      <p>A personal server built from scratch.</p>
      <ul>
        <li>
          <h2>
            <a href="{{config.base_url ~ "/primer/"}}">
              Primer
            </a>
          </h2>
          <p>
            A 10-minute read on what Urbit is and why it exists.
          </p>
        </li>
        <li>
          <h2>
            <a href="{{config.base_url ~ "/posts/"}}">
              Posts
            </a>
          </h2>
          <p>
            Regular updates, occasional essays and media.
          </p>
        </li>
        <li>
          <h2>
            <a href="{{config.base_url ~ "/docs/"}}">
              Docs
            </a>
          </h2>
          <p>
            Installation instructions and complete system documentation.
          </p>
        </li>
      </ul>
      <!-- footer -->
      {% include "partials/footer.html" %}
    </div>
  </div>
</div>
{% endblock content %}
