{% extends "base.html" %}
{% import "partials/pagination.html" as pagination %}
{% block bodyclasses %}class="page-indiced"{% endblock bodyclasses %}

{% block title %}
  <meta name="og:title" content="{{ page.title }} - {{ config.title }}">
  <title>{{ page.title }} - {{ config.title }}</title>
{% endblock title %}

{% block description %}
  {% if page.description %}
  <meta name="og:description" content="{{ page.description }}">
  <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="og:description" content="{{ config.description }}">
    <meta name="description" content="{{ config.description }}">
  {% endif %}
{% endblock description %}

{% block image %}
  {% if page.extra.image %}
    <meta name="twitter:image" content="{{ page.extra.image }}">
  {% else %}
    <meta name="twitter:image" content="https://media.urbit.org/logo/urbit-logo-card.png">
  {% endif %}
{% endblock image %}

{% block content %}

<!-- header -->
<!-- content -->
{%- set lowercasetitle = page.title | lower | split(pat=" ") | join(sep="-") -%}
{% if section or lowercasetitle == page.components[0] %}
<nav class="mt4 pb4 fixed-xl full fourth-1-lg page-indiced mb3 mb0-m mb0-l mb0-xl">
  <a class="gray3" href="/">Urbit</a>
  <span class="gray3"> / </span>
  <a href="/{{ page.components[0] }}">
    {{ page.title }}
  </a>

  {% include "partials/navigation-search.html" %}

{% else %}
<nav class="mt4 fixed-xl full fourth-1-lg page-indiced mb3 mb0-m mb0-l mb0-xl">
  <a class="gray3" href="/">Urbit</a>
  <span class="gray3"> / </span>
  <a href="/{{ page.components[0] }}{% if page.components[2] %}/{{ page.components[1] }}{% endif %}">
    {% if page.components[2] %}
    {{ page.components[1] | replace(from="-", to=" ") | title }}
    {% else %}
    {{ page.components[0] | replace(from="-", to=" ") | title }}
    {% endif %}
  </a>

  {% include "partials/navigation-search.html" %}

{% endif %}

{% for h2 in page.toc %}
{% if h2.children %}
<details class="dn mw5-xl mt2 mw5-l db-xl page-indiced f6"><summary>{{ h2.title }}</summary>
    {% for h3 in h2.children %}
  <li class="ml3 mv1"><a href="{{h3.permalink | safe}}">{{h3.title}}</a></li>
    {% endfor %}
</details>
{% else %}
  <li class="dn mw5-xl mw5-l db-xl page-indiced mv2"><a class="f6" href="{{h2.permalink}}">{{h2.title}}</a></li>
{% endif %}
{% endfor %}
</nav>
        <article class="mt4 mb6 c1-13 c4-12-lg measure-wide">
            {% if page.extra.hidetitle %} {% else %}<h1>{{ page.title }}</h1>{% endif %}
          {% if page.extra.author %}
          <span class="mt2 dib" rel="author"> {{ page.extra.author }} </span>
          {% if page.extra.ship %}
            <address class="mono">{{ page.extra.ship }}</address>
          {% endif %}
          {% if page.date %}
            <time class="mono db mv1 gray4 f5">{{page.date | date(format="~%Y.%-m.%-d") }}</time>
          {% endif %}
        {% endif %}
          <!-- body -->
          {{ page.content | safe }}
          {{ pagination::pagination(page=page) }}
        </article>
{% endblock content %}
