{% extends "base.html" %}
{% block title %} {{ page.title }} {% endblock title %}
{% block description %}
  {% if page.description %}
    {{ page.description }}
    {% else %}
      {{ config.description }}
    {% endif %}
  {% endblock description %}
{% block content %}

<!-- header -->
<!-- content -->
{% if page.components[0] %}
<nav class="mt6 full fourth-1-md fourth-1-lg">
  <a class="gray3" href="/">Urbit</a> 
  <span class="gray3"> / </span>
  <a href="/{{ page.components[0] }}">
    {{ page.components[0] | capitalize }}
  </a>
</nav>
{% endif %}
        <article class="mt6 mb6 full-ns c4-10-lg">
          <h1>{{ page.title }}</h1>
          {% if page.extra.author %} 
          <span class="mt2 inline-block" rel="author"> {{ page.extra.author }} </span> 
          {% if page.extra.ship %} 
            <address class="mono">{{ page.extra.ship }}</address>
          {% endif %}
          {% if page.date %}
            <time class="mono block mv1 gray4 f5">{{page.date | date(format="~%Y.%-m.%-d") }}</time>
          {% endif %}
        {% endif %}
          <!-- body -->
          {{ page.content | safe }}
          <footer class="relative">{% if page.earlier %}
              <a class="bb0" href="{{page.earlier.permalink}}">
                <nav class="previous mv6 absolute right4 f4 t-right">
                  <p class="mb0 f5">Previous Post:</p>
                  <p class="fw-bold f4 mb0 mt0">{{page.earlier.title}}</p>
                  <time class="mono block f5">{{page.earlier.date | date(format="~%Y.%-m.%-d") }}</time>
                </nav>
              </a>
                {% endif %}
  
                {% if page.later %}
                <nav class="next mv6 absolute left4 f4">
                  <p class="mb0">Next Post:</p>
                  <a class="fw-bold bb0" href="{{page.later.permalink}}">{{page.later.title}}</a>
                  <time class="mono block f5">{{page.later.date | date(format="~%Y.%-m.%-d") }}</time>
                </nav>
                {% endif %}
              </footer>
        </article>
{% endblock content %}
