{% extends "base.html" %}
{% block title %} {{ page.title }} {% endblock title %}
{% block bodyclasses %}class="page-indiced"{% endblock bodyclasses %}
{% block description %}
  {% if page.description %}
    {{ page.description }}
    {% else %}
      {{ config.description }}
    {% endif %}
  {% endblock description %}
{% block content %}

<!-- header -->
<!-- content -->
{% if page.title %}
<nav class="mt4 full fourth-1-md fourth-1-lg">
  <a class="gray3" href="/">Urbit</a> 
  <span class="gray3"> / </span>
  <a href="/{{ page.components[0] }}">
    {{ page.title }}
  </a>

  {% include "partials/navigation-search.html" %}

{% else %}
<nav class="mt4 full fourth-1-md fourth-1-lg">
  <a class="gray3" href="/">Urbit</a> 
  <span class="gray3"> / </span>
  <a href="/{{ page.components[0] }}">
    {{ page.title }}
  </a>

  {% include "partials/navigation-search.html" %}

{% endif %}

{% for h2 in toc %}
{% if h2.children %}
<details class="page-indiced"><summary id={{h2.id}}>{{ h2.title }}</summary>
    {% for h3 in h2.children %}
  <li class="ml3 mv1"><a href="{{h3.permalink | safe}}">{{h3.title}}</a></li>
    {% endfor %}
</details>
{% else %}
  <li><a href="{{h2.permalink}}">{{h2.title}}</a></li>
{% endif %}
{% endfor %}
</nav>
        <article class="mt4 mb4 full-ns c4-10-lg">
          {% if page.extra.author %} 
          <span class="mt2 dib" rel="author"> {{ page.extra.author }} </span> 
          {% if page.extra.ship %} 
            <address class="mono">{{ page.extra.ship }}</address>
          {% endif %}
          {% if page.date %}
            <time class="mono db mv1 gray4 f5">{{page.date | date(format="~%Y.%-m.%-d") }}</time>
          {% endif %}
        {% endif %}
          <!-- body -->
          {{ page.content | safe }}
          {% include "partials/pagination.html" %}
        </article>
{% endblock content %}
