{% extends "base.html" %}
{% block title %} {{ page.title }} {% endblock title %}
{% block description %}
  {% if page.description %}
    {{ page.description }}
    {% else %}
      {{ config.description }}
    {% endif %}
  {% endblock description %}
{% block content %}

<!-- header -->
<!-- content -->
{% if page.components[0] %}
<nav class="mt6 full fourth-1-md fourth-1-lg">
  <a class="gray3" href="/">Urbit</a> 
  <span class="gray3"> / </span>
  <a href="/{{ page.components[0] }}">
    {{ page.components[0] | capitalize }}
  </a>
</nav>
{% endif %}
        <article class="mt6 mb6 full-ns c4-10-lg">
          <h1>{{ page.title }}</h1>
          <!-- body -->
          {{ page.content | safe }}
          {% if page.extra.author %} 
            <span class="mt3" rel="author"> {{ page.extra.author }} </span> 
            {% if page.extra.ship %} 
              <address class="mono">{{ page.extra.ship }}</address>
            {% endif %}
            {% if page.date %}
              <time class="mono block f5">~{{page.date | date(format="~%Y.%-m.%-d") }}</time>
            {% endif %}
          {% endif %}
        </article>
{% endblock content %}
