{% extends "base.html" %}
{% block title %} Updates {% endblock title %}
{% block bodyclasses %}class="updates"{% endblock bodyclasses %}
{% block content %}
<!-- header -->
<nav class="mt6 full fourth-1-md fourth-1-lg">
  <a class="gray3" href="/">Urbit</a> 
  <span class="gray3"> / </span>
  <a href="/updates">
    Updates
  </a>
  {% include "partials/navigation-search.html" %}
</nav>
<!-- content -->
      <main class="mt6 mb6 full c4-10-lg">
        <h1 class="mb8">Updates</h1>
          {% set posts = get_section(path="updates/_index.md") %}
          {% for page in posts.pages | slice (end=1) %}
          <article class="mt6 mb6">
              <h1>{{ page.title }}</h1>
              <!-- body -->
              {{ page.content | safe }}
              {% if page.extra.author %} 
                <span class="mt3" rel="author"> {{ page.extra.author }} </span> 
                {% if page.extra.ship %} 
                  <address class="mono">{{ page.extra.ship }}</address>
                {% endif %}
                {% if page.date %}
                  <time class="mono block f5">{{page.date | date(format="~%Y.%-m.%-d") }}</time>
                {% endif %}
              {% endif %}
            </article>
          {% endfor %}
          <h2 class="mv6">More Updates</h2>
          <ul class="posts">
          {% for page in posts.pages | slice (start=1) %}
          <li class="mb6 mt6">
              <h2 class="mb1"><a class="bb0" href="{{ page.permalink }}">{{ page.title }}</a></h2>
              <p class="mb2 mt2">{{ page.description }}</p>
              <time class="mono f5">{{ page.date | date(format="~%Y.%-m.%-d") }}</time>
              <span class="mono f5">
                    <a class="mono f5 ml2" href="/updates">
                     updates
                    </a>
                {% if page.extra.ship %}<address class="mono f5 ml2">{{ page.extra.ship }}</address> {% endif %}
              </span>
            </li>
        {% endfor %}
      </ul>
      </main>
{% endblock content %}
