{% extends "base.html" %}
{% block title %}
  <meta name="og:title" content="Updates - {{ config.title }}">
  <title>Updates - {{ config.title }}</title>
{% endblock title %}

{% block description %}
  <meta name="og:description" content="Updates on the Urbit project.">
  <meta name="description" content="Updates on the Urbit project.">
{% endblock description %}

{% block bodyclasses %}class="updates"{% endblock bodyclasses %}

{% block image %}
  <meta name="twitter:image" content="https://media.urbit.org/logo/urbit-logo-card.png">
{% endblock image %}

{% block content %}
<!-- header -->
<nav class="mt4 full fourth-1-md fourth-1-lg mb3 mb0-m mb0-l mb0-xl">
  <a class="gray3" href="/">Urbit</a>
  <span class="gray3"> / </span>
  <a href="/updates">
    Updates
  </a>
  {% include "partials/navigation-search.html" %}
</nav>
<!-- content -->
<main class="mt4 mb4 c1-13 c4-12-lg measure-wide">

  {% set posts = get_section(path="updates/_index.md") %}

  {% for page in posts.pages | slice (end=1) %}

  <article class="mb6 relative">
    <h1>{{ page.title }}</h1>
    <!-- body -->
    {{ page.content | safe }}
    {% if page.extra.author %}
      <span class="mt3" rel="author"> {{ page.extra.author }} </span>
      {% if page.extra.ship %}
        <address class="mono">{{ page.extra.ship }}</address>
      {% endif %}
      {% if page.date %}
        <time class="mono db f5">{{page.date | date(format="~%Y.%-m.%-d") }}</time>
      {% endif %}
    {% endif %}
  </article>

  {% endfor %}
  <h2 id="more-updates" class="mt5 mb3">More Updates</h2>
  <ul class="posts update">
  {% for page in posts.pages | slice (start=1) %}
    <li>
      <a class="bb0" href="{{ page.permalink }}">
        <p class="mv2">{{ page.description }}</p>
      </a>
      <time class="mono f6">{{ page.date | date(format="~%Y.%-m.%-d") }}</time>
      <span class="mono f6">
        {% if page.extra.ship %}
          <address class="mono f6 ml2">{{ page.extra.ship }}</address>
        {% endif %}
      </span>
    </li>
    {% endfor %}
  </ul>
</main>
{% include "partials/footer.html" %}
{% endblock content %}
