{% extends "taxonomy/single.html" %}

{% import "macros/macros.html" as macros %}

{% block content %}
<!-- header -->
<nav class="mt4 full fourth-1-lg mb3 mb0-m mb0-l mb0-xl">
  <a class="gray3" href="/">Urbit</a>
  <span class="gray3"> / </span>
  <a class="gray3" href="/grants">Grants</a>
  <span class="gray3"> / </span>
  <a href="{{ current_url }}">{{ term.name | capitalize }}</a>
  {% include "partials/navigation-search.html" %}
</nav>
<!-- content -->
<section class="full c4-10-lg pt4 lh-copy">
  <h1>Grant Type: {{ term.name  | capitalize}}</h1>
  {% for page in term.pages %}
    {{ macros::grant(page=page, classes="full c1-10-lg mv5")}}
  {% endfor %}
</section>
{% include "partials/footer.html" %}
{% endblock content %}
