.menu-show, .sidebar-show {
  position: fixed;
  top:0%;
  bottom: 0%;
  width: 100%;
  z-index: 2;
  visibility: visible;
  opacity: 1;
}

.menu-hide, .sidebar-hide {
  visibility: hidden;
  display: none;
}

.menu-toggle,.sidebar-toggle {
  cursor: pointer;
}
