.overflow-hidden{
  overflow: hidden;
}
.overflow-y {
  overflow-y: scroll;
}
@media only screen and (max-width: 480px) {
.sm-hide {
  display: none;
  }
}

@media only screen and (min-width: 480px) {
.md-hide {
  display: none;
  }
}
