@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Source+Code+Pro:wght@400;500;600;700&display=swap");

:root {
  font-size: 12px;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

p a {
  @apply text-green;
}

h1,
.type-h1 {
  @apply text-4xl md:text-5xl lg:text-6xl font-bold leading-tight;
}

h2,
.type-h2 {
  @apply text-3xl md:text-4xl lg:text-5xl font-bold leading-tight;
}

h3,
.type-h3 {
  @apply text-xl md:text-2xl lg:text-3xl font-bold;
}

h4,
.type-ui {
  @apply text-base md:text-lg lg:text-xl font-semibold;
}

.type-ui-small {
  @apply text-sm lg:text-base font-medium;
}

p,
.type-p {
  @apply text-base md:text-lg lg:text-xl leading-relaxed;
}

.type-sub {
  @apply text-sm lg:text-base font-semibold;
}

caption,
.type-caption {
  @apply text-sm lg:text-base font-medium block text-left;
}

code .type-code {
  @apply bg-wall p-4 font-mono;
}

button {
  border: none;
}

.tile-height {
  height: 38rem;
}

.preview-tile-height {
  @apply h-96;
}

.button-sm {
  @apply table px-4 py-1 rounded-lg type-ui;
}

.button-lg {
  @apply flex px-4 lg:px-6 py-2 rounded-xl h-12 md:h-16 flex-center type-ui;
}

.badge-sm {
  @apply flex type-ui-small px-3 lg:px-4 items-center justify-center h-8 md:h-10 rounded-full;
}

.badge-lg {
  @apply flex type-ui px-4 lg:px-6 items-center justify-center h-10 md:h-14 rounded-full;
}

.tab-button-lg {
  @apply type-h2 h-16;
  overflow: visible;
}

.tab-button-sm {
  @apply type-ui h-12;
  overflow: visible;
}

.button-sm:hover,
.button-text:hover,
.button-lg:hover,
a:hover {
  opacity: 0.66;
}

.hero-card-height {
  height: 562px;
}

.hero-image-height {
  height: 512px;
}

.hero-image {
  transform: translateX(8%);
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 85%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("https://media.urbit.org/port.svg");
  background-size: cover;
}

.measure {
  max-width: 34rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center center;
  @apply bg-wall;
}

:root {
  --tray-time: 0ms;
}

.tray-menu-open {
  transform: translateX(0);
  transition: transform var(--tray-time);
}

.tray-menu-closed {
  transform: translateX(-110vw);
  transition: transform var(--tray-time);
}

.tray-menu-width {
  width: calc(100vw - 4rem - 1rem - 1rem);
}

.mobile-search-button-width {
  width: calc(100vw - 4rem - 1rem - 1rem - 1rem - 1rem);
}

.tray-overlay-open {
  opacity: 1;
  transition: opacity var(--tray-time);
}

.tray-overlay-closed {
  opacity: 0;
  transition: opacity var(--tray-time);
}

.menu-open {
  left: 0;
  visibility: visible;
  display: block;
}

.menu-closed {
  left: -100vw;
  visibility: hidden;
  display: none;
}

.dot::before {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 99px;
  content: "";
  position: absolute;
  left: -0.75rem;
  top: 0.4rem;
  @apply bg-green;
}

.sidebar figure,
.sidebar img {
  width: auto !important;
  margin: 0 auto !important;
  left: 0 !important;
  display: block !important;
  position: static !important;
  border-radius: 0 !important;
}

.markdown *:last-child {
  @apply pb-0 mb-0;
}

.markdown *:first-child {
  @apply pt-0 mt-0;
}

.markdown *:first-child figure {
  @apply pt-0 mt-0;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-8;
}

.markdown h1 {
  @apply text-3xl md:text-4xl lg:text-5xl font-bold mt-24 mb-12;
}

.markdown.large-typescale h1 {
  @apply text-4xl md:text-5xl lg:text-6xl font-bold mt-24 mb-12;
}

.markdown h2 {
  @apply text-2xl md:text-3xl lg:text-4xl font-bold mt-16 mb-12;
}

.markdown.large-typescale h2 {
  @apply text-3xl md:text-4xl lg:text-5xl font-bold mt-16 mb-12;
}

.markdown h3 {
  @apply text-lg md:text-xl lg:text-2xl font-semibold mt-8 mb-8;
}

.markdown.large-typescale h3 {
  @apply text-xl md:text-2xl lg:text-3xl font-semibold mt-8 mb-8;
}

.markdown h4 {
  @apply text-base md:text-lg lg:text-xl font-semibold mt-4 mb-4;
}

.markdown.large-typescale h4 {
  @apply text-lg md:text-xl lg:text-2xl font-semibold mt-4 mb-4;
}

.markdown p {
  @apply text-base md:text-lg lg:text-xl leading-relaxed;
}

.markdown.large-typescale p {
  @apply text-lg md:text-xl lg:text-2xl leading-relaxed;
}

.markdown img {
  width: 100%;
  height: auto;
  @apply rounded-lg;
}

.markdown figure {
  position: relative;
  @apply mt-12 mb-12 z-0;
}

.markdown figure {
  width: 100%;
  left: 0;
}

@media (min-width: 768px) {
  .markdown figure {
    width: 125%;
    left: -12.5%;
  }
}

.markdown pre,
.markdown pre[class*="language-"] {
}

.markdown code,
.markdown code[class*="language-"] {
  @apply px-2 py-0.5 bg-wall rounded-md;
}

.markdown a code,
.markdown a code[class*="language-"] {
  @apply bg-washedGreen;
}

.markdown pre code,
.markdown pre[class*="language-"] code {
  @apply p-4 md:p-8 rounded-xl;
}

.markdown ul {
  list-style: outside;
  list-style-type: disc;
}

.markdown ol {
  list-style: outside;
  list-style-type: decimal;
}

.markdown li {
  @apply py-2 ml-6 text-base md:text-lg lg:text-xl;
}

.markdown.large-typescale li {
  @apply py-2 ml-6 text-lg md:text-xl lg:text-2xl;
}

.markdown li a,
.markdown h3 a,
.markdown h2 a {
  @apply text-green;
}

.markdown blockquote {
  @apply border-l-4 border-deepWall pl-6 italic;
}
.markdown blockquote cite {
  @apply not-italic font-semibold;
}

.markdown table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
}

.markdown table tr th,
.markdown table tr td {
  border-right-width: 2px;
  border-right-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding: 8px !important;
  @apply border-wall;
}

.markdown table tr th:first-child,
.markdown table tr td:first-child {
  border-left-width: 2px;
  border-left-style: solid;
  @apply border-wall;
}

.markdown table tr th {
  background: rgba(240, 239, 236, 0.33);
  border-top-width: 2px;
  border-top-style: solid;
  text-align: left;
  vertical-align: middle;
  @apply border-wall;
}

/* top-left border-radius */
.markdown table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

/* top-right border-radius */
.markdown table tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

/* bottom-left border-radius */
.markdown table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

/* bottom-right border-radius */
.markdown table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
