.markdown {
	/* @apply leading-relaxed; */
  max-width: 600px;
}
  
  .markdown p,
  .markdown ul,
  .markdown ol,
  .markdown blockquote {
	@apply my-6;
  }

  .markdown h1 {
	  @apply font-semibold mt-12 mb-4;
  }
  
  .markdown h2 {
	  @apply font-semibold mt-12 mb-4;
  }
  
  .markdown h3 {
  	@apply font-semibold mt-8 mb-4;
  }
  
  .markdown p {
    //styleName: P;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.011em;
    text-align: left;
  }

  .markdown img {
    width: 100%;
    height: auto;
    @apply rounded-lg
  }
  
  .markdown figure {
    position: relative;
    width: 160%;
    left: -30%;
  }
  
