{% extends "page.html" %}
{% import "partials/pagination.html" as pagination %}

{% block content %}

<!-- header -->
<!-- content -->
{%- set lowercasetitle = page.title | lower | split(pat=" ") | join(sep="") -%}
{% if section or lowercasetitle == page.components[0] %}
<nav class="mt4 pb4 fixed-xl full fourth-1-md fourth-1-lg page-indiced mb3 mb0-m mb0-l mb0-xl">
  <a class="gray3" href="/">Urbit</a>
  <span class="gray3"> / </span>
  <a href="/{{ page.components[0] }}">
    {{ page.title }}
  </a>

  {% include "partials/navigation-search.html" %}
</nav>
{% else %}
<nav class="mt4 fixed-xl full fourth-1-md fourth-1-lg page-indiced mb3 mb0-m mb0-l mb0-xl">
  <a class="gray3" href="/">Urbit</a>
  <span class="gray3"> / </span>
  <a href="/{{ page.components[0] }}{% if page.components[2] %}/{{ page.components[1] }}{% endif %}">
    {% if page.components[2] %}{{ page.components[1] | capitalize }}
    {% else %}
    {{ page.components[0] | capitalize }}
    {% endif %}
  </a>

  {% include "partials/navigation-search.html" %}

</nav>

{% endif %}

<article class="mt4 mb4 c1-13 c4-12-lg measure-wide">
  {% if page.extra.hidetitle %} {% else %}<h1>{{ page.title }}</h1>{% endif %}

  {% if page.extra.youtube %}
    <div class="video-container mv4">
      <iframe class="w-100" height=auto
        src="https://www.youtube.com/embed/{{page.extra.youtube}}"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen>
      </iframe>
    </div>
  {% elif page.extra.image %}
    <img class="db mv2 obj-cover w-100 ba" src="{{ page.extra.image }}" />
  {% endif %}

  {% if page.extra.author %}
    <span class="mt2 dib" rel="author"> {{ page.extra.author }} </span>
    {% if page.extra.ship %}
      <address class="mono">{{ page.extra.ship }}</address>
    {% endif %}
  {% endif %}

  {% if page.date %}
    <time class="mono db mv1 gray2 f5">{{ page.date | date(format="~%Y.%-m.%-d") }} {{ page.extra.time }}</time>
  {% endif %}
  
  {% if page.extra.registration_url %}
  <!-- TODO only show this if it's in the future. This build of tera doesn't support casting to int, so we have to use JS -->
    <a class="f6" target="_blank" href="{{ page.extra.registration_url }}" id="rsvp" data-date="{{ page.date }}">RSVP Here</a>
    <script>
      const rsvp = document.getElementById('rsvp');
      if (Date.now() > Date.parse(rsvp.dataset.date)) {
        rsvp.style.display = 'none';
      }
    </script>
  {% endif %}

  

  <!-- body -->
  <span id="rsvp_count"></span>
  {{ page.content | safe }}
  {{ pagination::pagination(page=page, type="Event") }}

  {% if page.extra.registration_url %}
  <script>
    //fetch(`{{ page.extra.registration_url | replace(from="www", to="api") | safe}}`)
    //  .then(response => response.json())
    //  .then(response => {
    //    console.log('response', response);
    //    document.getElementById('rsvp_count').innerText = response.yes_rsvp_count;
    //  });
  </script>
  {% endif %}
</article>

{% endblock content %}
